h1 {
  align-items: center;
  text-align: center;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.custom-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.custom-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#dynamic-content {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 80%;
  background-color: #f9f9f9;
}
